<div ng-cloak id="cards-container" class="clearfix" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <div id="cards" class='hand'>
    <span ng-show="winnerPicked()"></span>

    <div class="col-md-9 card-answers pull-left">
      <div ng-style="{'cursor':'pointer'}" class="card col-md-2 smallest" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
    ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
        <span ng-bind-html-unsafe="card.text"></span>
        <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
        <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
      </div>
    </div>
    
    <div class="col-md-9 card-answers pull-left">
      <span ng-repeat="answer in game.table">
        <div class="card col-md-2 smallest" id='answers' ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{winningColor($parent.$index)}}">
            <span ng-bind-html-unsafe="card.text"></span>
            <span id='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span id='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
    </span>
    </div>
  </div>
</div>

<div id="czar-blank-container" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <div id='charity-fact-container' class="text-center pull-left">
    <div id='charity-fact-tagline'>Did you know?</div>
    <div id='charity-fact'>
       {{ makeAWishFact }}
    </div>

    <div id='charity-logo-container'>
      <img src='/img/make-a-wish-logo.png'/>
    </div>
  </div>
  <div id="czar-blank-inner" class="col-md-6 col-md-offset-3 text-center">
    <h2>You are the Card Czar. </h2><br>
    <p id="smaller-text">Players are choosing their answers. Prepare to select a winner.</p>
  </div>
</div>
