<div class="container">
  <div class="row">
    <div class="chatbox col-md-3" id="chatbox">
      <div class="chat-header">
        <p class="title">Chat Box</p>
      </div>
      <span ng-show="game.typingPlayer !== game.players[game.playerIndex].username">{{game.isTyping}}</span>
        <div>
          <ul id="messages">
             <li class="message" ng-repeat="message in game.messages">{{message.name}}: {{message.chat}}</li>
           </ul>
        </div>
        <div class="form">
         <form action="">
            <input type="hidden" id="user" value="{{game.players[game.playerIndex].username}}" />
           <input id="chatMsg" class="form-control" ng-keypress="onKeyPress()" ng-model="msg" placeholder="type a message......." id="m" autocomplete="off" />
          </form>
       </div>
    </div>
  </div>
</div>

<script>

  function loadChatbox() {
    var e = document.getElementById("minim-chat");
    e.style.display = "block";
    var e = document.getElementById("maxi-chat");
    e.style.display = "none";
    var e = document.getElementById("chatbox");
    e.style.margin = "0";
  }
  function closeChatbox() {
    var e = document.getElementById("chatbox");
    e.style.margin = "0 0 -1500px 0";
  }
  function minimChatbox() {
    var e = document.getElementById("minim-chat");
    e.style.display = "none";
    var e = document.getElementById("maxi-chat");
    e.style.display = "block";
    var e = document.getElementById("chatbox");
    e.style.margin = "0 0 0px 0";
  }

  // Emojis for chat
  $(document).ready(function() {
    $("#chatMsg").emojioneArea({
      pickerPosition: "top",
      events: {
        keyup: function (editor, event) {
          const typer = $('#user').val();
          angular.element('#app-container').scope().onKeyPress(typer);
          if (event.which == 13) {
            angular.element('#app-container').scope().sendChat(this.getText());
            this.setText('');
          }
        }
    	}
    });
  });

</script>