<div class="container">
  <div class="chatbox" id="chatbox">
    <div>
      <div id="close-chat" onclick="closeChatbox()">&times;</div>
      <div id="minim-chat" onclick="minimChatbox()"><span class="minim-button">&minus;</span></div>
      <div id="maxi-chat" onclick="loadChatbox()"><span class="maxi-button">&plus;</span></div>
    </div>
      <span ng-show="game.typingPlayer !== game.players[game.playerIndex].username">{{game.isTyping}}</span>
      <div>
       <ul id="messages">
         <li ng-repeat="message in game.messages">{{message.name}}: {{message.chat}}</li>
       </ul>
        <form action="">
          <input type="hidden" id="user" value="{{game.players[game.playerIndex].username}}" />
         <input id="chatMsg" style="width: 100%;" ng-keypress="onKeyPress()" ng-model="msg" id="m" autocomplete="off" /><button id="chatBtn" ng-click="sendChat()"></button>
        </form>
      </div>
  </div>
  <!--<div class="row">
  <div class="span6">
    <textarea id="emojionearea1"></textarea>
  </div>
</div>-->

 <div id="chat" class="animated-chat tada" onclick="loadChatbox()">Chat</div>
</div>

<script>

  function loadChatbox() {
    var e = document.getElementById("minim-chat");
    e.style.display = "block";
    var e = document.getElementById("maxi-chat");
    e.style.display = "none";
    var e = document.getElementById("chatbox");
    e.style.margin = "0";
  }
  function closeChatbox() {
    var e = document.getElementById("chatbox");
    e.style.margin = "0 0 -1500px 0";
  }
  function minimChatbox() {
    var e = document.getElementById("minim-chat");
    e.style.display = "none";
    var e = document.getElementById("maxi-chat");
    e.style.display = "block";
    var e = document.getElementById("chatbox");
    e.style.margin = "0 0 0px 0";
  }

  // $(document).ready(function() {
  //   $("#chatMsg").emojioneArea({
  //     pickerPosition: "top",
  //     events: {
  //       keyup: function (editor, event) {
  //           console.log(event.keyCode);
  //           console.log(this.getText());
  //           if (event.keyCode == 13) {
  //             // $('#chatBtn').click(sendChat('you mad'))
  //             $('#chatBtn').click();
  //           }
  //       }
  //   	}
  //   });
  // });

</script>