<div id="howto-container">
	<div class="row">
		
		<div class="col l3" id="bg"><p>Each player begins with, and will always have, 10 white answer cards.</p></div>
		<div class="col l3" id="bg"><p>For each round, one player is randomly chosen as the Card Czar.</p></div>
		<div class="col l3" id="bg"><p>Everyone else answers the black question card by clicking on the answer card they want to use.</p></div>
		<div class="col l3" id="bg">
			<p>The Card Czar then picks a favorite answer, and whoever played that answer wins the round.</p>
		</div>



	</div>
</div>