<div id="player-container" ng-repeat="player in game.players" style="background-color:{{colors[player.color]}}">
  <div id ="above-czar-container" class="clearfix">
    <div id="avatar_" class="col-md-2">
      <span ng-show="isPremium($index)">
        <img ng-src="img/king.png" id="king">
      </span>
      <img ng-src="{{player.avatar}}"/>
    </div>
    <div id="player-container-inner" class="col-md-10">
      <div class="col-md-10">
        <div id="player-name"><p>{{player.username | upperFirstLetter}}</p></div>
        <div id="player-score"><p>{{player.points}}/{{game.pointLimit}}</p></div>
      </div>
      <div ng-show="isPlayer($index)" id="player-star">
        <img src="../img/11.png"/>
      </div>
    </div>
  </div>
  <div id="czar-container" ng-show="currentCzar($index)">
    <span id="the-czar">CZAR</span>
  </div>
</div>

