<div id="question-container-inner">
  <div class="card longBlack">
    <span ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)">
        <div id='start-game-button'>
          Start Game</br>with {{game.players.length}} players
        </div>
      </div>
      <div id="start-game-container">
        <div id='start-game-button' ng-click='getUsers()'>
          Invite Players
        </div>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>

  <!-- POP up Modal -->
  <div id="playerRequirement" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 class="modal-title">Cards for humanity</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"> Cards for Humanity </div>
      </div>
    </div>
  </div>
  
  <!-- Invite Players -->
  <div class="modal" id="invite-players" tabindex="-1" role="document" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow-y:hidden;"> 
      <div class="modal-dialog panel"> 
          <div class="modal-content"> 
              <div class="modal-header popUpHeader"> 
                <h3 class="modal-title">Invite Players</h3> 
              </div> 
              <div class="modal-body">
                <div> 
                  <p class='msgCenter'>Number of users selected: {{selectedUsers.length}}</p>
                  <span class="headerText"> Search for users <input placeholder='search for users...' type="text" ng-keyup="searchUsers()" ng-model="searchTerm"> </span>
                </div>
                <div class="headerText usernameHeader"><span>Username</span></div>
                <div  class="modalHeight">
                  <div ng-repeat="user in filteredUsers track by $index" class='usersInDB'>
                    <li class="eachUser" ng-class="{'disabled': invitedUsers.includes(user.email)}"><td><input type="checkbox" ng-model="user.selected" ng-click="countPlayers()"></td> <td>{{user.name}}</td></li>
                  </div>
                  <p ng-show="filteredUsers < 1" class='searchErrorMsg'>Cannot find players with the specified search term in the database</p>
                </div>
                </div> 
                <div class='allModalBtn'>
                  <button ng-class="{'disabledElement': selectedUsers < 1}" class="modalBtn" ng-click="invitePlayers()" >
                    Invite selected players
                  </button>
                  <button data-dismiss="modal" class="modalBtn">Cancel</button>
                </div>
              <div class="modal-footer">Cards for Humanity</div> 
          </div> 
      </div> 
  </div> 
</div>

