<div id="question-container-inner" class="questions clearfix" >
  <div class="card longBlack">
    <span class="question-text" ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" class="text-center" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <p id="player-count">{{game.players.length}} / 12 players available</p>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img ng-src="../img/human.gif"/></div>
      </div>
      <div id="start-game-container" class="pull-left" ng-click="startGame()" ng-show="(game.playerIndex === 0 || game.joinOverride)">
        <div id='start-game-button' class="btn btn-success">
          Start Game
        </div>
      </div>
      <div id="start-game-container" class="pull-right">
        <div id='start-game-button' class="btn btn-info" ng-click='getUsers()'>
          Invite Players
        </div>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <div class="game-end-headline">What the!? The game ended because too many people left! </div>
        Our sincere apologies.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="game-end-headline">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="game-end-headline">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>

  <!-- POP up Modal -->
  <div id="playerRequirement" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 class="modal-title">Cards for humanity</h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"> Cards for Humanity </div>
      </div>
    </div>
  </div>
  
  <!-- Invite Players -->
  <div class="modal fade" id="invite-players" tabindex="-1" role="document" aria-labelledby="myModalLabel"
  aria-hidden="true" style="overflow-y:hidden;"> 
      <div class="modal-dialog panel"> 
          <div class="modal-content"> 
              <div class="modal-header popUpHeader"> 
                <h3 class="modal-title">Invite Players</h3> 
              </div> 
              <div class="modal-body">
                <div> 
                  <p class='msgCenter'>Number of users selected: {{selectedUsers.length}}</p>
                  <span class="headerText"><input class="searchBar" placeholder='search for users...' type="text" ng-keyup="searchUsers()" ng-model="searchTerm"> </span>
                </div>
                <div class="headerText usernameHeader"><span>Username</span></div>
                <div  class="modalHeight">
                  <div ng-repeat="user in filteredUsers track by $index" class='usersInDB'>
                    <li class="eachUser" ng-class="{'disabled': invitedUsers.includes(user.email)}"><td><input type="checkbox" ng-model="user.selected" ng-click="countPlayers()"></td> <td>{{user.name}}</td></li>
                  </div>
                  <p ng-show="filteredUsers < 1" class='searchErrorMsg'>Cannot find players with the specified search term in the database</p>
                </div>
                </div> 
                <div class='allModalBtn'>
                  <button ng-class="{'disabledElement': selectedUsers < 1}" class="modalBtn" ng-click="invitePlayers()" >
                    Invite selected players
                  </button>
                  <button data-dismiss="modal" class="modalBtn">Cancel</button>
                </div>
              <div class="modal-footer">Cards for Humanity</div> 
          </div> 
      </div> 
  </div> 
</div>

<div id="game-end-container" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
    <div id="inner-info-exit" class="center text-center">
      <div class="game-end-answer-text" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h4>What would you like to do now?</h4>
        You might consider donating to charity to atone for the horrifying answers you've submitted. Donating will also place a lovely
        crown on your avatar's head.
      </div>
      <div class="game-end-answer-text" ng-show="game.state === 'game ended' || game.gameWinner !== -1">
        <h4>What would you like to do now?</h4>
        Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
      </div>
      <div id='inner-text-container'>
        <a href='/#!/app' class="waves-effect waves-light btn" id="joinGame">
          <div id="join-new-game" ng-click="game.joinGame('joinNewGame')">
            Join a New Game
          </div>
        </a>
        <a href='/' class="waves-effect waves-light btn" id="lobby">
          <div id="exit-match">
            Return to Lobby
          </div>
        </a>
      </div>
    </div>
  </div>