<div  ng-controller="IndexController">
  <nav id="signup" class="navbar navbar-default navbar-auth">
    <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="/">Cards For Humanity</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li clasxs="hidden">
              <a href="#page-top"></a>
            </li>
            <li><a onClick="scroll(0,0)" href="/" class="page-scroll">HOME</a></li>
          </ul>
        </div>
      </div>
      
  </nav>
  <div class="container text-center authentication" >
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 authentication">
      <div class="panel panel-default signup-panel">
        <div id="login-buttons" class="panel-heading">
          <span>Sign Up</span>
        </div>
        <div class="panel-body">
          <p>Sign up with:</p>
          <hr>
          <a href="/auth/facebook"><i class="fa fa-facebook fa-3x"></i></a>
          <a href="/auth/github"><i class="fa fa-github fa-3x"></i></a>
          <a href="/auth/twitter"><i class="fa fa-twitter fa-3x"></i></a>
          <a href="/auth/google"><i class="fa fa-google fa-3x"></i></a>
          <hr>
          <p>Or create a username/password and select an avatar:</p>
          <form>
             <div class="form-group">
              <label for="name"></label>
              <input class="form-control" id="name" type="text" name="name" ng-model="name" placeholder="Full name" required novalidate />
            </div>
            <div class="form-group">
              <label for="email"></label>
               <input class="form-control" id="email" type="email" name="email" ng-model="email" placeholder="Email" required novalidate />
            </div>
            <div class="form-group">
              <label for="password"></label>
                <input class="form-control" id="password" type="password" name="password" ng-model="password" placeholder="Password" required novalidate />
            </div>

            <div>
              <ul>
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                    <input name="avatar" type='radio' ng-model="avata.name" value="{{$index}}">
                    <img class="user-avatar" ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            <!--
            <div id="contain-avatars">
              <ul class="avatar-list">
                <li ng-repeat="avatar in avatars" class="avatars ng-scope">
                  <input name="avatar" type='radio' ng-model="avata.name" value="{{$index}}">
                    <img ng-src="{{avatar}}">
                  </input>
                </li>
              </ul>
            </div>
            -->
            <div class="form-group">
              <div class="form-actions col-md-offset-3 col-md-6 text-center">
                <button class="btn btn-default btn-lg" id="sign-up-btn-other" ng-click="signUp()" type="submit">Sign Up</button>
              </div>
           </div>
          </form>
       </div>
       </div>
    </div>
    </div>
  </div>

</div> 

