<div id="main-bod" ng-controller="IndexController">
<!-- Fixed Logo & Menu Bar Start -->
<nav id="signup" class="navbar navbar-default navbar-auth navbar-fixed">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Cards For Humanity</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li><a onClick="scroll(0,0)" href="/" class="page-scroll">HOME</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!-- Fixed Logo & Menu Bar End -->

<!-- Landing Start -->
<div class="wpb-teaser parallax-background" id="homer">
  <div class="background-opacity"></div> 
  <div class="modified-container">
    <div class="row" id="main-text"> 
    <!-- Teaser Text Start -->
    <div id="landing-logo">
      <h2 id="slogan">Sign in with:</h2>
      <div id="login-buttons">
        <a href="/auth/facebook"><img class="login-item" src="/img/icons/facebook.png"></a>
        <a href="/auth/github"><img class="login-item" src="/img/icons/github.png"></a>
        <a href="/auth/twitter"><img class="login-item" src="/img/icons/twitter.png"></a>
        <a href="/auth/google"><img class="login-item" src="/img/icons/google.png"></a>
      </div>
      <p id="create">Or log in below:</p>

      <div class="sign-body">
        <div class="more-sign">
          <div class="sign-error" ng-show="showError() === 'invalid'">
            Please check your username/password and try again.
          </div>
          <form class="signup form-horizontal">
            <div class="control-group">
              <label for="email" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="email" type="text" ng-model="email" name="email" placeholder="Email" required novalidate />
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label"></label>
              <div class="controls">
                <input class="input-info" id="password" type="password" ng-model="password" name="password" placeholder="Password" required novalidate />
              </div>
            </div>
            <div class="form-actions top-margin">
              <button id="sign-up-btn-other" ng-click="signIn()" type='submit'>Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

