<div id="inner-timer-container" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
  <span ng-hide="game.state === 'winner has been chosen' || game.state === 'waiting for czar to decide'"> 
  <p id="timer-status-round" class="timer-status-round timer" >Time Remaining</p></span>
  <span id="timer-status-czar-choosing" ng-show="game.state === 'winner has been chosen'"><p class="timer-status-round">Next Round In</p></span>
  <span id="timer-status-czar-choosing" class="timer-status-round" ng-show="game.state === 'waiting for czar to decide'"><p class="timer-status-round">Czar Choosing</p></span>
  <div id="time" ng-bind="game.time"></div>
</div>

<div ng-show="game.state === 'game ended' || game.state ==='game dissolved'" id="donateBox">
  <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
</div>