
*{
	padding: 0px;
	margin: 0px;
  font-family: 'Averia Gruesa Libre', cursive;
}

html
{
    position: relative;
    min-height: 100%;
}

body {
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../img/cross-culture.jpg') no-repeat !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  background-position: center right, top left !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  overflow-x: hidden;
}

/* Navbar */
.navbar-fixed-top {
	transition-duration: eade-in 1s;
}
.navbar-custom{
  background-color: #252138;
  border-color: transparent;
  transition-duration: 1s;
}

.navbar-auth {
	background:rgba(55, 49, 84, 1);
  border-color: transparent;
  z-index: 99;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-auth .navbar-brand {
  color: #ffffff;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #FC9800;
}

.navbar-auth .navbar-brand:hover,
.navbar-auth .navbar-brand:focus,
.navbar-auth .navbar-brand:active,
.navbar-auth .navbar-brand.active {
  color: #FC9800;
}

.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-auth .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
  background-color: #252138;
  border-color: #252138;
  font-family: 'Averia Gruesa Libre', cursive;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-auth .navbar-toggle {
  background-color: #252138;
  border-color: #252138;
  font-family: 'Averia Gruesa Libre', cursive;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #FC9800;
}

.navbar-auth .navbar-toggle:hover,
.navbar-auth .navbar-toggle:focus {
  background-color: #FC9800;
}

.navbar-custom .nav li a {
  font-family: 'Averia Gruesa Libre', cursive;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.navbar-auth .nav li a {
  font-family: 'Averia Gruesa Libre', cursive;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #FC9800;
  outline: none;
}

.navbar-auth .nav li a:hover,
.navbar-auth .nav li a:focus {
  color: #FC9800;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #252138;
}

.navbar-auth .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #252138;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #252138;
}

.navbar-auth .navbar-nav > .active > a:hover,
.navbar-auth .navbar-nav > .active > a:focus {
  color: white;
  background-color: #252138;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }

  .navbar-auth {
    background-color: rgba(55, 49, 84, 1);
    width: 100%;
    padding: 25px 0;
    padding: 10px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }

.navbar-fixed{
	position: fixed;
}

  .navbar-custom .navbar-brand {
  	color: #ffffff;
  	font-family: "Berkshire Swash", cursive;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-auth .navbar-brand {
  	color: #ffffff;
  	font-family: "Berkshire Swash", cursive;
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }

  .navbar-auth .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }

  .navbar-auth.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
  	color: #ffffff;
    font-size: 1.5em;
  }

  .navbar-auth.affix .navbar-brand {
  	color: #ffffff;
    font-size: 1.5em;
  }
}

/* header */
header {
  background: linear-gradient(rgba(37, 33, 56, 0.7), rgba(55, 49, 84, 0.7)),url('../img/cross-culture.jpg') center center !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  text-align: center;
  height: 750px;
  width: 100%;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: -5em;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-lead-in .cards{
  font-family: "Berkshire Swash", cursive;
  font-size: 70px;
  line-height: 22px;
  margin-bottom: 50px;
}

header .intro-text .intro-lead-in .cards-for{
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 40px;
  line-height: 22px;
  margin-bottom: 25px;
}

header .intro-text .intro-lead-in .cards-for-info{
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 20px;
  line-height: 22px;
  margin-top: -20px;
  margin-bottom: 180px;
}

header .intro-text .intro-lead-in .button{
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 20px;
  font-size: 25px;
  line-height: 22px;
  margin-top: -20px;
  margin-bottom: 170px;
}

header .intro-text .intro-lead-in .cards-for-info span{
 font-weight: bold;
 color: #FC9800;
}

header .intro-text .intro-lead-in .btn-info{
 width: 45%;
 padding: 17px;
 margin-left: -30px;
 font-size: 18px;
 border: none;
 border-right: 20px;
 border-radius: 3px !important;
 background: #FC9800;
 -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

header .intro-text .intro-lead-in .btn-info:hover{
	background: #c98c2a;
}

header .intro-text .intro-lead-in .btn-default{
 	width: 45%;
  padding: 17px;
  font-size: 18px;
 	border: none;
 	color:#FC9800;
 	margin-left: 10px;
	-webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.75);
}

header .intro-text .intro-lead-in .cards-for-info .trying-to{
  margin-top: 10px;
}

header span img{
  font-family: "Averia Gruesa Libre", cursive;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 25px;
}

header .intro-text .intro-heading .white-card{
  font-family: "Averia Gruesa Libre", cursive;
 	height: 350px;
 	width: 240px;
 	font-weight: bold;
 	padding: 30px 20px 10px 20px;
 	transform: rotate(-25deg);
 	border-radius: 10px;
 	color: #212121;
 	display: block;
 	background: #f5f5f5;
 	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.black-card h3{
  font-family: 'Averia Gruesa Libre', cursive !important;
}
.white-card h3{
 font-family: 'Averia Gruesa Libre', cursive, Arial !important;
}

#donations h4{
 font-family: 'Averia Gruesa Libre', cursive;
}

header .intro-text .intro-heading .black-card{
  font-family: "Averia Gruesa Libre", cursive;
 	height: 350px;
 	width: 240px;
 	font-weight: bold;
 	display: block;
 	border-radius: 10px;
 	transform: rotate(20deg);
 	margin-left: 150px;
 	padding: 30px 20px 10px 20px;
 	position: absolute;
 	color: #f5f5f5;
 	background: #212121;
 	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

header .intro-text .intro-heading .black-card h3{
  margin-top: -1px;
}

header .intro-text .intro-heading .white-card h3{
  margin-top: -10px;
}

header .intro-text .intro-heading .black-card-info{
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 20px;
 	height: 40px;
 	width: 30px;
 	font-weight: bold;
 	border-radius: 2px;
 	transform: rotate(20deg);
 	margin-left: 10px;
 	padding: 20px 10px 10px 10px;
 	color: #f5f5f5;
 	margin-top: 200px;
 	background: #212121;
}

header .intro-text .intro-heading .white-card-info{
  font-family: "Averia Gruesa Libre", cursive;
  font-size: 20px;
 	height: 40px;
 	width: 30px;
 	border: 1px solid black;
 	font-weight: bold;
 	padding: 20px 10px 10px 10px;
 	transform: rotate(-10deg);
 	border-radius: 2px;
 	position: absolute;
 	color: #212121;
 	background: #f5f5f5;
}

header .intro-text .intro-heading .info-text{
 	font-weight: bold;
 	margin-top: -2.0em;
  margin-left: 20px;
 	font-size: 10px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Averia Gruesa Libre", cursive;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Averia Gruesa Libre", cursive;
    margin-bottom: 50px;
  }
}

@media (max-width: 945px){
  header .intro-text .intro-heading{
    display: none;
  }
}

/*What is cards for humanity*/
.what-is{
	width: 100%;
	height: 270px;
	background: #373154;
	color: #f5f5f5;

}

.what-is h3{
	margin-top: -10px !important;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: center;
	font-family: "Berkshire Swash", cursive;
}

.what-is p{
	font-family: "Averia Gruesa Libre", cursive;
	font-size: 17px;
  line-height: 2.2em;
}

.what-is p a{
	color: #FC9800;
}

/*How-to-play*/
.how-to-play{
	background: #ffffff;
	font-family: "Averia Gruesa Libre", cursive;
	width: 100%;
	height: 100%;
	padding-bottom: 60px;
}

.how-to{
	font-size: 16px;
}

.how-to-text h2{
	font-family: "Berkshire Swash", cursive;
	margin-top: 30px !important;
	margin-bottom: 20px;
}

.col-md-3{
	text-align: center;
}

.col-md-3 i{
	color: #FC9800;
}

.col-md-3 h3{
	font-family: "Berkshire Swash", cursive !important;
}

.line{
	width: 20%;
	border-top: 2px solid #56499b;
	margin-left: 39%;
	margin-bottom: 20px;
}

/* donations */
.donations{
	color: #ffffff;
	font-family: "Averia Gruesa Libre", cursive;
	height: 100%;
	padding-bottom: 50px;
}

.donations-info{
	line-height: 24px;
	font-size: 15px;
}

.donations-info a, #slogan-head h4 a{
	color: #FC9800 !important;
}

#slogan-head{
	margin-top: 65px;
	margin-bottom: 40px;
	font-family: "Averia Gruesa Libre", cursive;
	text-align: center !important;
}

#slogan-head h2{
	font-family: "Berkshire Swash", cursive;
	margin-top: 65px;
	margin-bottom: 30px;
}

.crImageAndTitleOuter{
	display: none;
}

/*About us*/
.about-us{
	font-family: "Averia Gruesa Libre", cursive;
	background: #56499b;
	opacity: 0.7;
	color: #ffffff;
	font-size: 17px;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 60px;
}

.about-us h2{
	font-family: "Berkshire Swash", cursive;
	margin-bottom: 30px;
}

.about-us a{
	color: #FC9800;
}

/*footer*/
.foot{
	background: #373154;
	height: 100%;
  clear: both;
	color: #ffffff;
}

.row{
  padding-top:30px;
	font-family: "Averia Gruesa Libre", cursive;
  padding:25px 0px;
}

.legal a{
	 color:  #FC9800;
}

.bottom-bar img{
	height: 15%;
	width: 15%;
}

.bottom-bar a{
	color: #FC9800;
}


/*sign up page*/
./*form-horizontal{
  margin-top:40px;
}*/


.signup-text{
  color: black
}
.panel-body .fa{
  width: 100px;
}
.fa-facebook{
  color: #3b5998
}
.fa-twitter{
  color:#00aced
}
.fa-github{
  color:#6e5494;
}
.fa-google{
  color:#db3236
}
.authentication{
  margin-top: -10px;
}

.panel-default > .panel-heading{
  color: whitesmoke;
  background-color: rgba(55, 49, 84, 1);
  border-top: rgba(55, 49, 84, 1);
  border-color: rgba(55, 49, 84, 1);
}

.panel-default{
  margin-bottom: 45px;
  z-index: 99;
}

.panel {
  border: transparent;
  margin-top: -20px;
}


.avatars{
  float: left;
}
li {
    list-style-type: none;
}
.user-avatar{
  width: 35px;
  margin-bottom: 10px;
}
.avatars{
  margin-left: 20px;
  margin-bottom: 10px;
}

#login-buttons span{
  font-family: "Berkshire Swash", cursive !important;
  font-size: 25px;
}

.form-group .btn-default{
  background: #FC9800;
  color: white;
  border: none;
  width: 70%;
}

.form-group .btn-default:hover{
  background: #c98c2a;
}

.authentication{
 
}

/** login **/
.sign-error {
   text-align: center;
   color: white;
   font-family: arial;
   margin-bottom: -13px;
}

/*choose avatar*/
.wpb-teaser{
  color: #ffffff;
  text-align: center;
} 

.form-actions .btn-default{
  border: none;
  background: #FC9800;
  color: white;
  border: none;
  width: 70%;
  margin-bottom: 23%;
  font-size: 20px;
  padding: 15px;
}

.form-actions .btn-default:hover{
  background: #c98c2a;
}

#landing-logo #slogan{
  font-family: "Berkshire Swash", cursive !important;
}

#landing-logo #create{
  font-size: 17px;
}

.start-game{
  margin-top: 5px;
}
.start-game .btn-danger{
  font-size: 16px;
  margin-right: 15px;
}

#tweet-container{
  background: #00ACED;
  font-size: 16px !important;
  color: #ffffff;
}

#tweet-container .fa-twitter{
  color: #fff;
}

  /* Modal*/

 .disabledElement {
   /* Make the disabled links grayish*/
  background: gray !important;
  /* And disable the pointer events */
  pointer-events: none;
}
.allModalBtn{
  margin-left: 30%;
}
.modal-title{
  text-align: center;
  font-family: "Berkshire Swash", cursive !important;
}
.modal-body{
  font-family: "Averia Gruesa Libre", cursive;
}
.eachUser{
  padding: 0.2em;
}

.modalBtn{
  background: #FC9800;
  color: white;
  border: none;
  font-size: 1em;
  padding: 0.4em;
  font-family: "Averia Gruesa Libre", cursive;
  border-radius: 1em;

}
.modalBtn:hover{
  background: #c98c2a !important;
}
.modal-dialog{
  max-height:80%;
  margin-top: 50px;
  margin-bottom:50px;
  max-width: 36em;
}
.usernameHeader{
  position: fixed;
  margin-top: 0.5em; 
}
.modalHeight{
  margin-top: 3em;
  margin-bottom: 0.3em;
  overflow-y: scroll;
  overflow-y: auto;
  max-height:10em;
}
.headerText{
  font-size: 1.4em;
  margin-bottom:0.2em;
  font-weight:bold;
}
.msgCenter{
  text-align: center;
}
.modal-header {
  color: whitesmoke;
  background-color: rgba(55, 49, 84, 1);
  border-top: rgba(55, 49, 84, 1);
  border-top-color: rgb(55, 49, 84);
  border-color: rgba(55, 49, 84, 1);
}

.searchErrorMsg{
  margin-top: 2em;
}

/*on game*/
.timer{
  color: #ffffff;
  padding: 10px;
  margin-top: -35px;
  border-radius: 3px;
  font-size: 16px;
  background: #252138;
}

#time{
  color: #ffffff;
  font-size: 150px;
  margin-top: -32px;
}

#donateBox{
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.questions{
  background: whitesmoke;
  margin-top: -35px;
  padding: 10px;
  max-width: 100%;
  width: 100%;
  height: 230px;
  border-radius: 3px;
}

.questions p{
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.questions span{
  font-family: "Berkshire Swash", cursive;
  text-align: center !important;
  font-size: 26px;
  margin-top: 100px;
}
#finding-players{
  font-family: "Berkshire Swash", cursive;
  font-size: 25px;
  color: #252138;
  margin-bottom: 10px;
  text-align: center;
}

#social-bar-container{
  margin-top: -35px;
}

#loading-container{
  text-align: center;
  margin-bottom: 35px;
}

/*#start-game-container{
  margin-bottom: 100px;
}*/

.btn-success{
  background: #252138;
  font-size: 17px;
  border: none;
  box-shadow: 0px 1px 1px 0px #001;
  margin-left: 10px;
  width: 160px;
}

.btn-info{
  background: #FC9800;
   border: none;
  box-shadow: 0px 1px 1px 0px #001;
   font-size: 17px;
   margin-right: 10px;
   width: 160px;
}

.btn-info:hover{
  background: #252138;
}

.btn-success:hover{
  background: #FC9800;
}

.playModal{
  margin-left: 8%;
}

#loading-gif img{
  height: 50px;
  width: 70px;
}

/*player on game*/
#avatar_ img{
  width: 40px;
  height: 40px;
}

#player-container{
  padding: 3px;
  background: whitesmoke !important;
  border-radius: 3px;
  margin-bottom: 5px;
}

#player-name p{
  font-family: "Berkshire Swash", cursive;
}

#player-score p{
 margin-bottom: -2px;
}

#player-star img{
  height: 20px;
  width: 20px;
}

.chatbox{
  background: whitesmoke;
  text-align: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-bottom: 10px;
  width: 250px;
}

.chat-header{
  background: #FC9800;
  margin-left: -10px !important; 
  margin-right: -10px !important; 
  margin-top: -10px !important;
  border-top-left-radius: 3px;
  padding: 3px;
  border-top-right-radius: 3px;
}

.chat-header p{
   font-family: "Berkshire Swash", cursive;
   text-align: center;
   color: #ffffff;
}

.message{
  
}

#messages{
  max-height: 100px;
  overflow: auto;
}

#messages .message{
  background: #ffffff;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #e1e1e1;
  margin: 2px;
}

/*answers*/
.card-answers{
  margin-top: -110px;
  margin-left: 13px;
  margin-bottom: 110px;
}

#answers{
  background: whitesmoke;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  width: 155px;
  height: 200px;
}

.game-end-headline{
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  margin-top: 87px;
  font-size: 15px;
}

#game-end-container{
  background: whitesmoke;
  margin-top: 40px;
  padding: 5px;
  border-radius: 3px;
}

.game-end-answer-text h2{
  
  font-size: 18px;font-family: "Berkshire Swash", cursive;
  text-align: center;
  margin-bottom: 30px
  margin-top: 20px;
}

.game-end-answer-text p{
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}

#inner-text-container{
  margin-top: 30px;
  margin-bottom: 23px;
}


#inner-text-container .btn-success{
  margin-right: 20px;
}

.gradientButton{
  width: 100% !important;
}

#crDonateWidget_cfhio_cards4humanity{
  width: 260px !important; 
  margin-top: -35px !important;
}

#czar-blank-inner{
  color: whitesmoke;
  margin-top: -100px;
  margin-bottom: -2em;
  margin-left: 2em;
}

#czar-blank-inner h2{
  font-family: "Berkshire Swash", cursive;
  text-align: center;
  margin-bottom: 30px
  margin-top: 60px;
}


#charity-fact-container{
  border-radius: 3px;
  background: whitesmoke;
  width: 260px;
  margin-top: 20px;
  padding: 5px;

}

.foot-game{
  position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.timer-status-round{
  color: whitesmoke;
}
.table{
  background-color:white;
}









